.landing-graphic {
    width: 35vw;
    display: flex;
    margin-top: 15vh;
  }
  .landing-graphic svg {
    position: absolute;
    width: 35vw;
    margin-left: 5vw;
    margin-top: auto;
    margin-bottom: auto;
  }
  #base {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 4s both;
  }
  #orange {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation-delay: 0.25s !important;
    animation: dash 2s both;
  }
  #yellow {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation-delay: 0.5s !important;
    animation: dash 2s both;
  }
  #green {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation-delay: 0.75s !important;
    animation: dash 2s both;
  }
  #blue {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation-delay: 1s !important;
    animation: dash 2s both;
  }
  #purple {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation-delay: 1.25s !important;
    animation: dash 2s both;
  }
  #pink {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation-delay: 1.5s !important;
    animation: dash 2s both;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  .headshot img {
    border-radius: 5px;
    border: 2px solid #5d5d5d;
    /* width: 36vw !important; */
    margin-bottom: 20px;
  }
  /* .tabs-container {
    width: 50vw;
  } */
  .exp-header {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
	}
	.skills-list, .key-list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.skills-list li {
		padding: 8px 8px 0px 8px;
		margin: 3px;
		border-radius: 5px;
	}
	.key-list div {
		padding: 3px 8px;
		margin: 10px 3px;
		border-radius: 5px;
	}
	.right-side {
		display: flex;
    margin-right: 30px;
	}
  .landing-text {
    margin: 30vh 9vw;
    width: 50%;
  }
  .social-icon {
    width: 40px;
    height: 40px;
    margin: 0px 5px 20px 5px;
    transition: 0.2s ease-in-out;
  }
  .social-icon:hover {
    transform: scale(1.075);
  }

  @media (max-width: 800px) {
		#landing {
			flex-direction: column;
			margin-top: -20vh;
			margin-bottom: 25vh;
			justify-content: center;
			padding: none !important;
		}
		.landing-text {
			width: 90vw;
			margin: 30vh 5vw;
		}
		.landing-graphic {
			margin: 0 auto;
			width: 80%;
      transform: translateY(-35vh);
		}
		.landing-graphic svg {
			margin: 0 auto;
			width: 80%;
			margin-left: 23vw;
		}
	}
  @media (max-width: 1200px) and (min-width: 800px) {
    .landing-graphic svg {
			margin-top: 16vh;
		}
  }
  @media (max-width: 1400px) and (min-width: 800px) {
    .landing-graphic svg {
			margin-top: 8.5vh;
		}
  }
  .nav-item .active {
    border-bottom: 3px solid rgb(46,104,194) !important;
    color: rgb(46,104,194) !important; 
  }

  .page-container {
    margin: 0px 40px;
  }
  .project-container {
    width: 70vw !important;
  }
  /* .buttons a {
    margin: 0 6px;
  } */
  #stream, #swing, #render, #tread, #rom, #careai {
    padding-top: 40px;
  }
  .intel-display {
    width: 88%;
    margin-left: 6% !important;
    margin-right: 6% !important;
    margin-top: -50px;
    margin-bottom: 20px;
  }
  .project-container p {
    font-size: 14pt;
  }
  .images img {
    margin-bottom: 25px;
    border-radius: 3px;
    border: 1px solid rgb(81, 81, 81); 
  }
  .footer {
    margin-top: 50px;
  }
  .convictions-display {
    transform: translateY(-20px);
  }
  .tetris-display, .weather-display {
    width: 78%;
    margin: 0 11%;
    margin-bottom: 40px;
  }
  table, th, td {
    border: 1px solid rgb(81, 81, 81) !important;
    border-collapse: collapse !important;
  }
  th, td {
    padding: 10px;
  }
  table {
    margin-bottom: 20px;
  }
  .project-container h3 {
    margin-top: 35px;
  }
  .userflow {
    width: 36%;
    margin: 20px 32%;
  }
  blockquote {
    border-left: 3px solid rgb(161, 161, 167);
    padding-left: 10px;
    margin: 30px 0 !important;
    font-size: 18px;
    font-style: italic;
  }
  .chromatic-display, .appteam-display {
    width: 70%;
    margin: 0 15%;
    margin-bottom: -5%;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .buttons a {
    margin-left: 3px;
    margin-right: 3px;
  }
  @media (max-width: 1000px) {
    .project-container {
        width: 90vw !important;
    }
  }
  @media (min-width: 1000px) {
    .project-landing {
      height: 200vh !important;
    }
  }
  #project-header {
    font-size: 50pt;
  }

  .project-info {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
    height: 100%;
  }
  .info-block-main {
    color: white;
    font-size: 14pt;
    font-weight:400;
  }
  .eyebrow {
    font-size: 12pt;
    letter-spacing: 2px;
  }
  .project-container p {
    color: rgba(255, 255, 255, 0.8);
  }
  .project-section {
    margin: 100px 0px;
  }
  .feature-mvp {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 18px;
    border-radius: 10px;
    height: 100%;
  }
  .separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  .project-logo {
    height: 150px;
    margin: 30px 0px;
    border-radius: 20px;
  }
  .project-landing {
    margin-bottom: 100px;
    height: 50% !important;
    /* border: 1px solid red; */
  }

  th {
    color: white;
    font-size: 14pt;
  }
  td {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14pt;
  }
  .landing-cover {
    border-radius: 15px;
    height: 85vh;
    width: auto;
  }
  .landing-logo {
    border-radius: 15px;
    width: 100px;
    margin-bottom: 20px;
  }
  .left-info {
    /* border: 1px solid red; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
  }
  .luminary-wireframes img {
    margin-bottom: 30px;
  }
  video {
    border-radius: 35px;
    height: 475px;
  }
  .image-subtitle {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 12pt;
  }
  ul {
    margin-left: 40px;
  }
